<article class = "post post-{{id}}">
    <h2>
        <a href="/post/{{id}}">
            {{title}}
        </a>
    </h2>
    <p>
        {{content}}
    </p>
    <div class="post-info">
        <div class="author">
            by 
            <a href="/dashboard/{{user.id}}">
                {{user.username}}
            </a>
        </div>
        <div class="date">
            {{format_time createdAt}} on
            {{format_date createdAt}}
        </div>
    </div>
     log id: {{logged_user}}?
    {{#if (isEqual logged_user user.id)}}
        <button class="btn delete-btn" data-id="{{id}}"> 
            Delete 
        </button>            
    {{/if}}
    
</article>