<article class = "post post-{{id}}">
    <h2>
        <a href="/post/{{id}}">
            {{title}}
        </a>
    </h2>
    <p>
        {{content}}
    </p>
    <div class="post-info">
        <div>
            by 
            <a href="/dashboard/{{user.id}}">
                {{user.username}}
            </a>
        </div>
        <div>
            {{format_time createdAt}} on
            {{format_date createdAt}}
        </div>
    </div>
    
</article>