<article class = "post post-block post-{{id}} card"  id="post-{{id}}" data-id="{{id}}">
    <h2>
        <a href="/post/{{id}}" class="title card-title">
            {{title}}
        </a>
    </h2>
    <p class="content">
        {{content}}
    </p>
    <div class="post-info">
        <div class="author">
            by 
            <a href="/dashboard/{{user.id}}">
                {{user.username}}
            </a>
        </div>
        <div class="date">
            {{format_time createdAt}} on
            {{format_date createdAt}}
        </div>
    </div>
      {{!-- {{logged_user}} vs {{user.id}} --}}
    {{#if (isEqual logged_user user.id)}}
  
        <button class="btn edit-btn edit-btn-post" data-id="{{id}}"> 
            Edit 
        </button>   
        <button class="btn delete-btn" data-id="{{id}}"> 
            Delete 
        </button>            
    {{/if}}
    
</article>