<article class = "post">
    <h2>
        <a href="/post/{{id}}">
            {{title}}
        </a>
    </h2>
    <p>
        {{content}}
    </p>
    <div class="post-info">
        <div>
            by {{user.username}}
        </div>
        <div>
            {{format_time createdAt}} on
            {{format_date createdAt}}
        </div>
    </div>
    
</article>