<article class = "post post-block post-{{id}} card"  id="post-{{id}}" data-id="{{id}}">
    <h3>
        <a href="/post/{{id}}" class="title card-title">
            {{title}}
        </a>
    </h3>
    <div class="overflow-wrapper">
        <p class="content">
            {{content}}
        </p>
    </div>
    
    <div class="post-info">
        <div class="author">
            by 
            <a href="/dashboard/{{user.id}}">
                {{user.username}}
            </a>
        </div>
        <div class="date">
            {{format_time createdAt}} on
            {{format_date createdAt}}
        </div>
    </div>
      {{!-- {{logged_user}} vs {{user.id}} --}}
    {{#if (isEqual logged_user user.id)}}
    <div class="btn-group btn-group-sm">
        <button class="btn edit-btn edit-btn-post btn-secondary" data-id="{{id}}"> 
            Edit 
        </button>   
        <button class="btn delete-btn btn-danger" data-id="{{id}}"> 
            Delete 
        </button>  
    </div>
                  
    {{/if}}
    
</article>