<!-- The post block-->
{{> post-block post}}
<!-- comment section-->
<section>
    <h3>Comments</h3>
    <!-- add comment -->
    {{#if logged_in}}
        <div class="create-comment" data-id="{{post.id}}">
            <textarea name="create-comment" id="new-comment" cols="50" rows="3"></textarea>
            <button class="btn save-btn" data-id="{{post.id}}"> Save</button>
        </div>
    {{/if}}
    <!-- Show all comments-->
    {{#each post.comments as |comment| }}
    <div class= "comment comment-{{comment.id}}">
        <p>
             {{comment.content}}
        </p>
        <div class="post-info">
            <div class="author">
                by 
                <a href="/dashboard/{{comment.user.id}}">
                    {{comment.user.username}}
                </a>
            </div>
            <div class="date">
                {{format_time comment.createdAt}} on
                {{format_date comment.createdAt}}
            </div>
        </div>
        <div>
            {{#if (isEqual ../logged_user comment.user.id)}}
            <div>
                <button class="btn delete-btn" data-id="{{comment.id}}"> 
                    Delete 
                </button>
            </div>
            {{/if}}
        </div>        
    </div>
    {{/each}}

</section>

<script src="/js/comment.js"></script>