<!-- The post block-->
{{> post-block post logged_user=logged_user}}
<!-- comment section-->
<section>
    <h3>Comments</h3>
    <!-- add comment -->
    {{#if logged_in}}
        <div class="create-comment card" data-id="{{post.id}}">
            <textarea name="create-comment" id="new-comment" cols="50" rows="3" placeholder="Add comment"></textarea>
            <button class="btn save-btn" data-id="{{post.id}}">Save</button>
        </div>
    {{/if}}
    <!-- Show all comments-->
    {{#each post.comments as |comment| }}
        <div class= "comment comment-block card" id="comment-{{comment.id}}" data-id="{{comment.id}}">
            <p class="content">
                {{comment.content}}
            </p>
            <div class="post-info">
                <div class="author">
                    by 
                    <a href="/dashboard/{{comment.user.id}}">
                        {{comment.user.username}}
                    </a>
                </div>
                <div class="date">
                    {{format_time comment.createdAt}} on
                    {{format_date comment.createdAt}}
                </div>
            </div>
            {{#if (isEqual ../logged_user comment.user.id)}}
                <button class="btn edit-btn edit-btn-comment" data-id="{{comment.id}}"> 
                    Edit 
                </button>            
                <button class="btn delete-btn delete-btn-comment" data-id="{{comment.id}}"> 
                    Delete 
                </button>            
            {{/if}}
                
        </div>
    {{/each}}
</section>

<script src="/js/comment.js"></script>